<div class="col-md-12">
  <div class="card card-contain azure-background">

    <form *ngIf="!isLoggedIn" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-login-register">
      <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
      <div class="form-group required">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username" required>
        <div *ngIf="userForm.controls['username'].invalid &&
            (userForm.controls['username'].dirty || userForm.controls['username'].touched)" class="alert alert-danger">
          <div *ngIf="userForm.controls['username'].errors.required">
            Name is required.
          </div>
        </div>
      </div>

      <div class="form-group required">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>
        <div *ngIf="userForm.controls['password'].invalid &&
            (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="alert alert-danger">
          <div *ngIf="userForm.controls['password'].errors.required">
            Password is required.
          </div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!userForm.valid">Login</button>
    </form>

    <div class="success-div" *ngIf="isLoggedIn">
      <i class="icon fas fa-check-circle fa-4x"></i>
      <h4 class="mt-5">Successfully logged in! </h4>
      <p>Go to <a routerLink="/user"> My investments</a> to see and make investments. Good luck for trading.</p>
    </div>
  </div>
</div>
