
<div class="col-md-12">
  <div class="card card-contain azure-background">

    <form *ngIf="!isSuccessful" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-login-register">
      <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
      <div class="form-group required">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username" required>
        <div *ngIf="userForm.controls['username'].invalid &&
            (userForm.controls['username'].dirty || userForm.controls['username'].touched)" class="alert alert-danger">
          <div *ngIf="userForm.controls['username'].errors.required">
            Name is required.
          </div>
          <div *ngIf="userForm.controls['username'].errors.minlength">
            Name must be at least 3 characters long.
          </div>
        </div>
      </div>

      <div class="form-group required">
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
        <div *ngIf="userForm.controls['email'].invalid &&
            (userForm.controls['email'].dirty || userForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="userForm.controls['email'].errors.required">
            Email is required.
          </div>
          <div *ngIf="userForm.controls['email'].errors.email">
            Your email input does not match to email pattern.
          </div>
        </div>
      </div>

      <div class="form-group required">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>
        <div *ngIf="userForm.controls['password'].invalid &&
            (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="alert alert-danger">
          <div *ngIf="userForm.controls['password'].errors.required">
            Password is required.
          </div>
          <div *ngIf="userForm.controls['password'].errors.minlength">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!userForm.valid">Register</button>
    </form>

    <div class="success-div" *ngIf="isSuccessful">
      <h4 class="mt-5"> Your registration was successful! </h4>
      <p>Please login with your username and password to access your account.</p>
    </div>
  </div>
</div>
